<div class="row">
  <div class="col-xs-12">
    <div class="row">
      <img class="col-sm-4 hidden-xs" style="max-width:200px;" *ngIf="book.photo" [src]="book.photo">
      <div class="col-sm-8 col-xs-12">
        <h1>{{ book.title }}</h1>
        <h3>{{ book.author }}</h3>
        <blockquote  class="blockquote-reverse" *ngIf="book.synopsis">
          <h4>Synopsis : </h4>
          <footer>{{ book.synopsis }}</footer>
        </blockquote>
        <button class="btn btn-default" (click)="onBack()"><span class="glyphicon glyphicon-step-backward"></span> Retour</button>
      </div>
    </div>
  </div>
</div>
